*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}

#container_textFields{
    position: absolute;
    left: 75%;
    bottom: 50%;
    width: 0px;
}

#container_buttons{
    position: absolute;
    left: 75%;
    bottom: 45%;
}

#container_checkmark{
    position: absolute;
    left: 75%;
    bottom: 40%;
}

password_forget{
    position:absolute;
    bottom: 35%;
}
#container{
    position: absolute;
    left: 75%;
    bottom: 60%;
    color:#F89A36;
}

#container_image{
    position:absolute;
    top: 25%;
    border: 1px solid red;
    width: 50%;
    height: 70%;
}