.bg-gray{
    background-color: #EDECEC;   
}

.filterContainer{
    min-height: 450px;
}

.checkbox-item{
    height: 18px;
    width: 18px
}

@media only screen and (max-width: 768px) {
    .filterContainer{
        min-height: auto;
    }
  }