<footer class="p-2 d-flex flex-row justify-content-between fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <nav class="navbar-nav" id="footerNavbar">
                    <ul class="list-unstyled col-sm-12 d-flex flex-row justify-content-between" id="navbarFooter">
                        <li><b href="#" class="orange-color fw-bold p-2 text-decoration-none">EII Student Kit</b></li>
                        <li><a href="#" class="blue-link fw-bold p-2 text-decoration-none">About us</a></li>
                        <li><a href="#" class="blue-link fw-bold p-2 text-decoration-none">Terms</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <div class="navbar-nav d-flex flex-column align-items-end">
                    <div class="col-sm-12 "></div>
                    <span class="blue-link">Contacto: <a href="#" id="footerEmail">adminKitStudent@gmail.com</a></span>
                    <a href="#" class="text-decoration-none blue-link" >Preguntas frecuentes</a>
                </div>
            </div>
        </div>
    </div>
    
    
</footer>
