<main class="m-2">
    <section class="row">
        <article class="col-md-8 p-3">
            <div class="m-2 col-sm-12 d-flex flex-row justify-content-between">
                <div class="col-sm-5">
                    <form class="form-inline">
                        <input 
                        class="form-control bg-gray rounded-4 border-0 mr-sm-2" 
                        type="search" 
                        placeholder="Search"
                        id="search-text" 
                        aria-describedby="search-text"
                        [(ngModel)]="searchText"
                        [ngModelOptions]="{standalone: true}"
                        >
                         
                      </form>
                      
                </div>
                <div ngbDropdown class="col-sm-5">
                    <button class="btn bg-gray rounded-4 col-sm-12" id="dropdownButton" ngbDropdownToggle>Ordenación: </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownButton">
                      <button ngbDropdownItem>Alfabeto (A-Z)</button>
                      <button ngbDropdownItem>Año</button>
                      <button ngbDropdownItem>Departamento</button>
                    </div>
                </div>
            </div>
            <article class="m-2 col-sm-12 rounded-4 listContainer">
                <ul class="list-unstyled">
                    <div *ngFor="let subject of subjects  | appFilter: searchText: semestersCheckboxes" class="border-bottom m-3">
                        <div routerLink="/asignaturaInfo/{{subject.id}}" class="itemList p-1 rounded-3">
                            <p>{{ subject.asignatura }}</p>
                            <p>{{ subject.duracion }}</p>    
                        </div>
                    </div>
                </ul>
            </article>
        </article>
        <article class="col-md-4 p-3">
            <app-filter-card [inputCheckboxes]="semestersCheckboxes" [searchText]="searchText"></app-filter-card>
        </article>
    </section>
      
</main>
