@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}
 
 html {
    margin: 0px;
    height: 100%;
 }
 
 body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8% 8% 74% 10%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0px;
    display: grid !important;
}

 .headerWrapper{
    grid-column: span 3;
 }

#navbarAsignaturas{
    grid-row: 2;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;

}

#buscador, .dropdownMenu{
    margin: 10px;
    background-color: #d9d9d9;
    border-radius: 80px;
}

#buscador {
    display: flex;
}

#searchIcon{
    display:inline-block;
    font-size: 15px;
    line-height: 30px;
    color: #8B8787;
    width: 50px;
    text-align: center;
    vertical-align: bottom;
}

#inputSearch {
    border: 0;
    background-color: #d9d9d9;
    width: 60%;
}

#inputSearch:focus {
    outline: none;    
}

.dropdownMenu {
    display: flex;
    justify-content: space-between;
}

.dropdownMenu span {
    font-size: 14px;
    display: block;
    margin: 5px;
    padding-left: 10px;
}

#dropdownIcon {
    display:inline-block;
    font-size: 15px;
    line-height: 30px;
    color: #8B8787;
    width: 50px;
    text-align: center;
    vertical-align: bottom;
}



main{
    grid-column: span 2;
    grid-row: 3;
}


#verticalMenu{
    flex: 10;
    top: 150px;
    overflow-y: auto;   
    padding: 20px;
    height: 350px;
}

#verticalMenu div{
    height: 100px;
    padding: 10px 30px 10px 30px;
    border-bottom: 3px solid #d6d6d6;
}


#filtrosContainer{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 10px 50px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 20px;
}


#filterHeader button{
    background-color: #d9d9d9;
    border: none;
}

#filterButtonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

#filterButton{
    background-color: #F89A36;
    color: white;
    justify-content: center;
    border-radius: 15px;
    border: 0;
    width: 80%;
    height: 40px;
    margin: 20px;
}

.footerWrapper{
    grid-row: 4;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0px 15px 0px 15px;
}

.itemHide {
    display: none;
}


@media screen and (max-width: 640px){
    body{
        grid-template-rows: auto auto auto 1fr auto;
    }

    #navbarAsignaturas{
        flex-direction: column-reverse;
        justify-content:start;
        grid-row: 3;
        grid-column: span 3;
        margin: 0px 20px 0px 20px;
        min-width: 300px;
    }

    #filterSection, #filterButtonContainer{
        display: none
    }

    #filterHeader{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #filtrosContainer{
        grid-row: 2;
        grid-column: span 3;
        margin: 10px 30px;
    }

    main{
        grid-row: 4;
        grid-column: span 3;
        min-width: 300px;
    }

    .footerWrapper{
        grid-row: 5;
    }

    .itemHide{
        display: inline-block
    }

  }

  @media screen and (max-width: 420px){
    #subjectsListContainer p{
        font-size: 12px;
        margin-bottom: 20px;
    }
  }

