header {
    background-color: #0066a1;
    height: 70px;
}
header a:link{
    color:white;
    text-decoration: none;
}

header a:visited{
    color:white
}

header a:hover{
    color: #F89A36;
}


.btn.dropdown-toggle {
    color: white;
  }
  
  .btn.dropdown-toggle:hover {
    color: #F89A36;
  }

li {
    cursor: pointer
}