<main class="row">
    <section class="col-sm-6 d-flex flex-column justify-content-center align-items-center p-2 form-section">
        <router-outlet></router-outlet>
    </section>
    <section class="d-none d-sm-flex col-sm-6 bg-primary-color flex-column justify-content-center align-items-center text-center p-2">
        <article class="mt-4">
            <h2 class="font-orange fw-bold">La mejor herramienta como estudiante de la ULPGC</h2>
            <p class="font-orange pt-3">Accede de forma rápida a la información del profesorado, asignaturas y cursos, y crea un horario personal.</p>
        </article>
        <article class="d-flex col-md-10">
            <img src="./../../../assets/media/PreviewImage.svg" alt="Student Kit Preview" class="img-fluid"/>
        </article>
    </section>
</main>

