@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}
 
 html {
    margin: 0px;
    height: 100%;
 }
 
 body {
    width: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 8% 82% 10%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0px;
 }

 
main {
    grid-column: span 2;
    border-radius: 20px;
    background-color: #edecec;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin: 10px;
}

#infoContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#profesoresContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


#searchContainer {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px 10px 50px;
    padding: 10px;
    background-color: #edecec;
    border-radius: 20px;
}

#searchBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
}

#searchBar i {
    flex: 1;
    display:inline-block;
    line-height: 25px;
    color: #292929;
}

#searchBar span{
    flex: 2;
    font-weight: 600;

}

#searchMenu{
    overflow-y: scroll;
    height: 350px;
}

#subjectsListContainer{
    list-style-type: none;
}

#subjectsListContainer div{
    font-size: 14px;
    margin-bottom: 20px;
}

#subjectsListContainer p {
    margin: 0 !important
}




.simpleText {
    color: #292929;
    font-size: 13px;
}


.footerWrapper{
    grid-row: 4;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0px 15px 0px 15px;
}


@media screen and (max-width: 640px){
    body{
        grid-template-rows: auto auto 1fr auto;
    }
    
    #searchContainer{
        margin: auto;
        grid-row: 2;
        grid-column: span 3;
        width: 90%;
        margin-top: 10px;
    }

    main{
        grid-column: span 3;
    }


    #searchBar{
        border-bottom: none;
    }

    #searchMenu{
        display: none;
    }

  }

  @media screen and (max-width: 420px){
    #infoContainer{
        display: block;
    }
  }
