@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}
 

 
header a:link{
    color:white;
    text-decoration: none;
}

header a:visited{
    color:white
}

header a:hover{
    color: #F89A36;
}



.headerWrapper{
    display: flex;
    margin: 0;
    min-height: 50px;
    grid-column: span 3;
}

header {
    background-color: #0066a1;
    display: flex;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    width: 100%;
}   

.headerItem{
    display: flex;
    margin: 0px;
    align-self: stretch;
    align-items: center;
    flex-wrap: nowrap;
    width: 25%;
}

.headerItemMain{
    flex:auto;
    justify-content: center;
    text-align: center;
    width: 50%;
    min-width: 220px;
}

 #navbar {
    background-color: #0066a1;
    text-align: center;
    width: 100%;
}

#navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#navbar li {
    display: inline-block;
    color: white;
    width: 32%;
}

#navbar a{
    text-align: center;
}

header ion-icon{
    font-size: 40px;
    vertical-align: middle;
}

ion-icon {
    pointer-events: none;
}

#userButton{
    flex: auto;
    padding: 0px 0px 0px 0px;
    text-align: right;
    margin-right: 0px;
}

#logoContainer {
    flex: 1;
    margin: 5px;

}

#logotipoImg{
    height: 50px;
    width: 50px;
}

.footerWrapper{
    display: flex;
    margin: 0;
    min-height: 50px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

footer ul {
    display: flex;
    justify-content: space-between  ;
    height: 100%;
    margin: 0;
    list-style-type: none;
    align-items: center;
    padding: 0;
    width: 100%;
}

.footerItem{
    width: 50%;
}

#footerLeft{
    display: flex;
    flex-direction: row;
}

#footerRight{
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;
    color: #0066A1;
    font-size: 12px;
}

footer a:link{
    text-decoration: none;
    color: #0066A1;
}

footer a:visited{
    color: #0066A1;
}

footer .appName{
    color: #F89A36;
}

#footerEmail{
    text-decoration: underline;
}

footer ion-icon{
    font-size: 20px;
    vertical-align: middle;
}


@media (min-width: 641px) {
    .wideHide {display:none}
    .wideShow {display:inline-block}
    footer ul {display:flex}
}

@media (max-width: 640px) {
    .wideHide {display:inline-block}
    .wideShow {display:none}
    footer ul {display:inline-block}
}

@media (max-width: 420px){
    .wideHide ion-icon{
        font-size: 30px;
    }

    footer * {
        font-size: 10px;
    }
    .headerWrapper header{
        overflow-y: scroll;
    }

    .footerWrapper footer{
        flex-direction: column;
        align-items: center;
    }

    .footerItem ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerItem *{
        text-align: center;
    }
}