@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}
 
 html {
    margin: 0px;
    height: 100%;
 }
 
 body {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
 }


 
.headerTextLink{
    color:white;
    text-decoration: none;
}

.headerTextLink:visited{
    color:white
}

.headerWrapper{
    display: block;
}

header {
    background-color: #0066a1;
    display: flex;
    padding: 16px;
    align-items: center;
}

.headerItem{
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-wrap: nowrap;
    flex:auto;
}

 #navbar {
    background-color: #0066a1;
    display: flex;
    flex-direction: row;
}

#navbar ul{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-evenly;
}

#userButton{
    flex: 1;
    padding: 17px 0px 0px 0px;
    color: white;
    text-align: right;
    margin-right: 20px;
}



#navbar ul li {
    color: white;
    list-style-type: none;
}

#logoContainer {
    flex: 1;
    margin: 5px;

}

#logotipoImg{
    height: 50px;
    width: 50px;
}

.footerWrapper{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer{
    grid-row: span 4;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}

footer ul {
    display: flex;
    flex: 2;
    justify-content: space-around   ;
    height: 100%;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

footer article {
    display: flex;
    flex: 2;
    flex-direction: column;
}

footer article * {
    text-align: end;
    color: #0066A1;
    font-size: 12px;
}

footer .textLink{
    text-decoration: none;
    color: #0066A1;
}

footer a:visited{
    color: #0066A1;
}

footer .appName{
    color: #F89A36;
}
