@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Poppins";
    color: #292929;
}

html{
    margin: 0px;
    height: 100%;
}

body{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0px;
}


section{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    
}

#leftContainer header h1{
    color: #f89a36;
    font-size: 36px;
    text-align: center;
}

#leftContainer main{
    display:flex;
    align-items: flex-start;
    justify-content: center;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.formContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
}

.formContainer label{
    font-size: 18px;
}

.formContainer input{
    border-radius: 5px;
    border: 1px solid #767676;
    height: 25px;
    margin-top: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 18px;

}



.formContainer input:focus{
    outline: none !important;
    border: 2px solid #0066a1;
    background-color: #EFF4FD;
}




form #loginButton{
    background-color: #f89a36;
    color: white;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    font-size: 18px;
}

.altOptionsContainer label {
    font-size: 14px;
}

form a{
    font-weight: 600;
}


#registerLinkContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

#rightContainer{
    background-color: #0066a1;
}

#rightContainer header h2{
    color: #f89a36;
    padding: 0px 30px 0px 30px;
    text-align: center;
    font-size: 36px;
}

#rightContainer header p{
    color: #f89a36;
    padding: 0px 30px 30px 30px;
    text-align: center;
    font-size: 18px;
    margin: 0px;
}

#imageContainer{
    display: flex;
    justify-content: center;
}

#imageContainer img {
    width: 65%;
    height: auto;
}

@media (max-width: 1024px) {

    #rightContainer{
        display: none;
    }

    #leftContainer {
        background-color: #0066a1;
    }

    label, p, a{
        color: white;
    }
  }