@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}
 
 html {
    margin: 0px;
    height: 100%;
 }
 
 body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0px;
 }

 



main {
    grid-column: span 2;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin: 10px;
}

#infoContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}




#searchContainer {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px 10px 50px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 20px;
}

#searchBar {
    display: flex;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
}

#searchBar i {
    display:inline-block;
    line-height: 25px;
    color: #292929;
}

#searchBar span{
    font-weight: 600;
    margin-left: 20px;
}


#searchMenu div p{
    font-size: 14px;
    margin: 0px 0px 20px 0px;
}



.simpleText {
    color: #292929;
}





  @media screen and (max-width: 768px){
    body{
        grid-template-rows: auto auto 1fr auto;
    }
    
    #searchContainer{
        margin: auto;
        grid-row: 2;
        grid-column: span 3;
        width: 90%;
        margin-top: 10px;
    }

    main{
        grid-column: span 3;
    }

    footer{
        grid-row: 4;
    }

    #searchBar{
        border-bottom: none;
    }

    #searchMenu{
        display: none;
    }

  }

  @media screen and (max-width: 420px){
    #infoContainer{
        display: block;
    }
  }


  @media (min-width: 641px) {
    span.wideHide {display:none}
    span.wideShow {
        display:inline-block
        
    }
    footer ul {display:flex}
}

@media (max-width: 640px) {
    span.wideHide {
        display:inline-block;
        color: white;
    }
    span.wideShow {display:none}
    footer ul {display:inline-block}
}

@media (max-width: 420px){
    .wideHide ion-icon{
        font-size: 30px;
    }

    footer * {
        font-size: 10px;
    }
}

